.scenarios-menu .scenario-item-title {
    font-size: 1.5em;
    margin-top: 0.8em;
}

.scenarios-menu .scenarios-menu-list {
    padding-right: 0;
}

.scenarios-menu .scenarios-menu-list .collection {
    border-right: none;
}

.scenarios-menu .no-padding-left {
    padding-left: 0;
}

.scenario-details {
    margin-top: 3em;
}

.scenario-details-back-btn {
    float: right;
}

.scenario-details-title {
    margin: 0;
}