<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{scenario_name}}</title>

    <link rel="stylesheet" href="{{site_base_url}}static/main.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- MaterializeCSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/css/materialize.min.css">
    
    <!-- jQuery CDN (required for MaterializeCSS) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- MaterializeCSS JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/js/materialize.min.js"></script>

    {% block script %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>