<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- MaterializeCSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/css/materialize.min.css">
    
    <link rel="stylesheet" href="{{site_base_url}}static/main.css">
    <!-- jQuery CDN (required for MaterializeCSS) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- MaterializeCSS JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/js/materialize.min.js"></script>
    
    <script>
        // Initialize tabs when the DOM is ready
        $(document).ready(function(){
            document.documentElement.setAttribute('theme', 'dark');
        });

        // Function to show/hide divs based on button clicks
        function toggleDiv(divId) {
            $('.content').hide(); // Hide all content divs
            $('#' + divId).show(); // Show the clicked div
        }
    </script>
</head>
<body>
    <div class="container scenarios-menu">
        <h1>SCENARIOS</h1>
        <div class="row">
            <div class="col s4 m2 scenarios-menu-list">
                <div class="collection">
                    <a href="#!" class="collection-item" onclick="toggleDiv('problem1')">
                        circuits
                    </a>
                    <a href="#!" class="collection-item" onclick="toggleDiv('problem2')">
                        other env
                    </a>
                </div>
            </div>
            <div class="col s8 m10 no-padding-left">
                <div class="collection">
                    <div id="problem1" class="content">
                        {% for scenario in scenarios %}
                        <a href="{{scenario.path}}" class="collection-item">
                            <h3 class="scenario-item-title">{{scenario.title}}</h3>
                            <p>{{scenario.description}}</p>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>