{% extends "base.html" %}
    {% block script %}
    <script>
        // Initialize tabs when the DOM is ready
        $(document).ready(function(){
            document.documentElement.setAttribute('theme', 'dark');
            const el = document.getElementById('problem_list');
            const options = {};
            var instance = M.Tabs.init(el, options);
        });

        // Function to show/hide divs based on button clicks
        function toggleDiv(divId) {
            $('.content').hide(); // Hide all content divs
            $('#' + divId).show(); // Show the clicked div
        }
    </script>

    <style>
        .content {
            display: none; /* Hide content divs by default */
        }
    </style>
    {% endblock %}
    {% block content %}
    <div class="container scenario-details">
        <div class="row">
            <div class="col s9">
                <h1 class="scenario-details-title">{{scenario_name}}</h1>
            </div>
            <div class="col s3">
                <div class="scenario-details-back-btn">
                    <a class="waves-effect waves-light btn" href="{{site_base_url}}">BACK</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="tabs" id="problem_list">
                    <li class="tab col s6 m3"><a href="#description" class="active">Description</a></li>
                    <li class="tab col s6 m3"><a href="#problems">Problems</a></li>
                </ul>
            </div>
            <div id="description" class="col s12">
                {% for content in scenario_content %}
                    {{content}}
                {% endfor %}
            </div>
            <div id="problems" class="col s12">
                <div class="row">
                    <div class="col s3 m2">
                        <div class="collection">
                            <!-- a for each problem as a button-->
                            {% for problem in problems %}
                            <a href="#!" class="collection-item" onclick="toggleDiv('problem{{ problem.id }}')">
                                {{ problem.title }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col s9 m10">
                        <!-- Content divs for each problem -->
                        {% for problem in problems %}
                        <div id="problem{{ problem.id }}" class="content">
                            {% for description in problem.description%}
                            {{ description }}
                            {% endfor %}
                            
                            <h2>Ideas</h2>
                            {% for idea in problem.ideas %}
                                <p>
                                    {% for content in idea %}
                                        {{ content}}
                                    {% endfor %}
                                </p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}